@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin-ext);
@import url('ionicons.css');
html {
    color: #555555;
    background: black;	
}

body {
	font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
}

.container {
	margin: 0 auto 0 auto;
	position: relative;
	width: 960px;
	display: block;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul { 
	list-style-type: none;
	padding: 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
strong { font-weight: 700; }
.white-content ul li:last-child { margin-bottom: 0; padding-bottom: 0!important; }
/* ==========================================================================
   Header Styles
   ========================================================================== */
.wrapper { background: url(../img/bg.png) no-repeat; background-position: center top; width: 100%; min-height: 1000px;}

.logo { padding: 30px 30px; }
.logo span { color: white; font-size: 17px; text-align: center; display: inline-block; line-height: 16px!important; }
.logo span strong { letter-spacing: 3px; font-size: 20px; margin-bottom: -15px; display: block; }
.menu {
	background: rgba(0, 0, 0, .9);
	height: 80px;
	padding-left: 22px;
	
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	-ms-border-radius: 5px 5px 0px 0px;
}
	.menu ul li {
		display: inline-block;
		line-height: 80px;
		font-size: 15px;
	}
	.menu ul li:hover {
		background: url(../img/arrow_up.png) no-repeat center bottom;		
	}
	.menu ul li a {
		text-decoration: none;
		color: rgb(117, 117, 117);
		display: block;
		padding: 0 22px;
	}
	.menu ul li a:hover {
		color: rgb(242, 151, 0);
	}
	.menu ul li a.active { color: white; font-weight: 400; } .menu ul li:hover a.active {background: none;}

.info {
	position: absolute;
	z-index: 10000;
	bottom: 90px;
	right: 50px;
	text-align: right;
	color: white;
}
	.info h1 {
		text-transform: uppercase;
		color: white!important;
		font-size: 35px;
		margin-bottom: 0px!important;
	}
	.info span { display: block; font-size: 18px; }
	.info a {
		margin-top: 30px;
		background: rgba(242, 151, 0, .7);
		font-size: 14px;
		color: white;
		text-decoration: none;
		line-height: 42px;
		display: inline-block;
		padding: 0px 12px;
		
		border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-o-border-radius: 3px 3px 3px 3px;
		-ms-border-radius: 3px 3px 3px 3px;
		
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
	}
	.info a:hover {	background: rgba(242, 151, 0, 1); }


/* ======================================	====================================
   Content Styles
   ========================================================================== */
	
.white-content { background: white; padding: 50px 0; 	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
}
h1 { font-weight: 300; color: rgb(242, 151, 0); margin-bottom: 27px; font-size: 22px; }
h3 { font-weight: 300; font-size: 18px; }
h4 { font-weight: 300; font-size: 17px; }
h5 { font-weight: 300; font-size: 16px; }

.left { width: 550px; padding: 0px 50px; float: left; }
ul.bread-nav { margin-top: -18px; font-size: 13px!important; }
.bread-nav li {	display: inline-block; line-height: 16px; background: none!important; padding-left: 0!important; }
	.bread-nav li:after {
		font-family: 'Ionicons';
		content: "\f154";
		font-size: 14px;
		vertical-align: middle;
		padding: 0px 3px 0px 6px;
		color: rgba(85, 85, 85, .6);
	}
	.bread-nav li:last-child:after { content: " "; }
	.bread-nav li a { text-decoration: none; color: rgba(85, 85, 85, .6); }
	.bread-nav li a:hover { text-decoration: underline; }
.left p {
	text-align: justify;
	line-height: 24px;
	margin-bottom: 15px;
}
	.left a { text-decoration: underline; color: rgb(85, 85, 85); }
	.left a:hover { color: rgb(242, 151, 0); }
.white-content ul li {
	background: url(../img/li-before.svg) 0 6px no-repeat;
	padding-left: 15px;
	margin-bottom: 10px;
}
.article ul, .services ul { margin-bottom: 15px; display: table; }
.article > img { float: left; display: block; padding: 0px 15px 15px 0px; }
.article > .date { font-weight: 700; display: inline-block; margin-bottom: 5px; }

.services h3 { color: rgb(242, 151, 0)!important; margin-bottom: 10px; }
.services > img { float: left; display: block; padding: 0px 15px 15px 0px; }
.services > img.right { float: right; display: block; padding: 0px 0px 15px 15px; }

.gallery {margin-top: 10px;}
.gallery img {
	float: left;
	margin: 0px 10px 10px 0px;
	display: block;
}
.gallery img:nth-child(3n+3) {margin-right: 0;}

.right { float: right; } .float-left { float: left; }
.quick-menu, .quick-contact { width: 260px; padding-left: 50px; }
.quick-menu ul li {
	background: rgba(85, 85, 85, .2);
	margin-bottom: 10px;
	padding: 0px 0px 0px 25px;
	font-size: 15px;
	
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	-ms-border-radius: 5px 0px 0px 5px;
	
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
}
.quick-menu li:last-child { margin-bottom: 0; }
	.quick-menu li a { color: rgb(85, 85, 85); text-decoration: none; display: block; line-height: 42px;}
	.quick-menu li a:hover { color: white; }
	.quick-menu li:hover { background: rgb(85, 85, 85); } .quick-menu li:hover a { color: white; }
	.quick-menu li.active { background: rgb(85, 85, 85); } .quick-menu li.active a { color: white; }

.margined { margin-top: 35px; }
.quick-contact .address { font-size: 15px; line-height: 20px; }
.address > strong { font-size: 17px; font-weight: 600!important; padding-bottom: 10px; display: block; }
ul.contact {
	background: rgba(85, 85, 85, .2);
	padding: 15px;
	margin-top: 15px;
	
	border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-o-border-radius: 5px 0px 0px 5px;
	-ms-border-radius: 5px 0px 0px 5px;
}
ul.contact li { background: none; padding: 0; }
ul.contact li i { padding-right: 5px; font-size: 17px; }
ul.contact li a { color: rgb(85, 85, 85); text-decoration: none; } ul.contact li a:hover { text-decoration: underline!important; }

ul.img-menu { height: 240px; }
li.img-wrap a { color: white; text-decoration: none; display: block;}	
li.img-wrap {
	height: 240px;
	overflow: hidden;
	position: relative;
	width: 240px;
	margin-right: -3px;
	
	display: inline-block;
}
	.overlay {
		background-color: rgba(242, 151, 0, 0);
		bottom: 0;
		top: 0;
		position: absolute;
		width: 240px;
		height: 100%;
		z-index: 1000;
		
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
	}
	li.img-wrap:hover .overlay { background-color: rgba(242, 151, 0, .7); }
	li.img-wrap:hover span { display: block; }
		li.img-wrap span {
			display: none;
			text-align: center;
			line-height: 240px;
			text-transform: uppercase;
			font-size: 19px;
			font-weight: 600;
		}
		
.service-form {
	background: url(../img/service-form-bg.jpg) no-repeat;
	height: 200px;
	padding: 50px 100px;
	
	color: white;
	text-align: center;
}
	.service-form.slim { height: 100px; }
	.service-form.slim2x { height: 35px; }
	.slim i { font-size: 30px; margin-bottom: 10px;}
	.service-form h1 { font-size: 35px; color: white!important; margin-bottom: 15px!important; }
	.service-form span { font-size: 17px; display: block; margin-bottom: 35px; }
	.service-form a {
		background: rgba(102, 168, 54, .7);
		font-size: 14px;
		color: white;
		text-decoration: none;
		line-height: 42px;
		display: inline-block;
		padding: 0px 12px;
		
		border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-o-border-radius: 3px 3px 3px 3px;
		-ms-border-radius: 3px 3px 3px 3px;
		
		transition: all .3s ease;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		-ms-transition: all .3s ease;
	}
	.service-form a:hover { background: rgba(102, 168, 54, 1); }

article {
	padding: 20px 0px;
	border-bottom: 1px solid rgba(102, 102, 102, 0.1);
	clear: both;
}
article:first-of-type { padding-top: 0!important; }
article:last-of-type { border-bottom: none!important; padding-bottom: 0!important; }
	article img { float:left; padding: 0px 15px 10px 0px; }
	article h1 a, article h1 { font-size: 19px; margin-bottom: 8px!important; text-decoration: none; color: rgb(242, 151, 0); }
		article h1 a:hover { text-decoration: underline; }
	article .date { font-size: 13px; font-weight: 400; margin-bottom: 3px; display: inline-block; }
	article p { margin-bottom: 0!important; }
	

/* ==========================================================================
   Footer Styles
   ========================================================================== */	
footer {
	background: white;
	font-size: 28px;
	
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
	-ms-border-radius: 0px 0px 5px 5px;
}
	footer span { padding: 25px 50px; display: block; }

.copyright {
	font-size: 12px;
	line-height: 18px!important;
	padding-left: 50px;
	display: block;
	margin: 20px 0 20px 0;
}

/* ==========================================================================
   LogedIn Styles
   ========================================================================== */
table.user-info, table.user-history { width: 100%; }
	.user-info tr, .user-history tr { border-bottom: 1px solid rgba(85, 85, 85, 0.1); }
	.user-info tr:last-child, .user-history tr:last-child { border: none; }
	.user-info tr td, .user-history tr td { padding: 8px; }
	.user-info td:nth-child(2n+1) { font-weight: 400; }
.user-history thead { text-align: left; }
	.user-history thead th { font-weight: 600; padding: 6px; color: white; background: rgba(85, 85, 85, .5); }
	
/* ==========================================================================
   Reservation Table + Inputs Styles
   ========================================================================== */
.full {
	padding: 0px 50px;
}

/*.order { width: 100%; text-align: center; }
.order td, .order th { padding: 7px 0px; }
.order th:nth-child(1), .order td:nth-child(1), .order th:nth-child(7), .order td:nth-child(7) { width: 5%; }
.order th:nth-child(2),.order th:nth-child(3),.order th:nth-child(4),.order th:nth-child(5),.order th:nth-child(6),
.order td:nth-child(2),.order td:nth-child(3),.order td:nth-child(4),.order td:nth-child(5),.order td:nth-child(6) { width: 18%; }
.order tr:nth-child(2n+1) { border-bottom: 1px solid rgba(85, 85, 85, 0.2); } .order td { border-right: 1px solid rgba(85, 85, 85, 0.2); } .order td:last-child { border: none!important; }
.order tr:nth-child(2n+2) { border-bottom: 1px solid rgba(85, 85, 85, 0.1); }
	.order tr:hover, .order td:hover { background: rgba(85, 85, 85, 0.1); }
	.order td:nth-child(1):hover { background: none!important; } .order tr:nth-child(1) { background: none!important; border: none!important; }
	.order td:nth-child(7):hover { background: none!important; }
.order th { background: rgba(85, 85, 85, 0.5); color: white; font-weight: 400; }
	.order th:nth-child(1) { border-radius: 3px 0 0 0; -webkit-border-radius: 3px 0 0 0; -moz-border-radius: 3px 0 0 0; -o-border-radius: 3px 0 0 0; -ms-border-radius: 3px 0 0 0; }
	.order th:nth-child(7) { border-radius: 0 3px 0 0; -webkit-border-radius: 0 3px 0 0; -moz-border-radius: 0 3px 0 0; -o-border-radius: 0 3px 0 0; -ms-border-radius: 0 3px 0 0; }

.order td.busy { background: rgba(242, 151, 0, 1); color: white; font-weight: 300; font-size: 13px; }
.order td.disable { background: rgba(85, 85, 85, 0.4); color: white; cursor: not-allowed; } order td.disable:hover { background: none!important; }

/* ==========================================================================
   Checkboxes and Steps Styles
   ========================================================================== */
.fifty {
	display: inline-block !important;
	vertical-align: top !important;
	float: none !important;
	height: auto !important;
	zoom: 1;
	overflow: hidden;
	width: 398px;	
}
	.fifty:nth-child(2n+2) { padding-left: 30px }
.fifty h2 { font-weight: 300; margin-bottom: 10px; color: rgb(242, 151, 0); }
	.fifty:nth-child(2n+3) h2 { margin-top: 20px!important; }
.fifty label { display: block; cursor: pointer; margin-bottom: 13px; margin-left: 10px; line-height: 15px; }

	.has-js .label_check,
	.has-js .label_radio { padding-left: 20px; }
	
	.has-js .label_check { background: url(../img/check-off.png) no-repeat; }
	.has-js .label_check:hover { background: url(../img/check-hover.png) no-repeat; }
	.has-js label.c_on { background: url(../img/check-on.png) no-repeat; }
	.has-js label.c_on:hover { background: url(../img/check-on.png) no-repeat; }
	
	.has-js .label_check input,
	.has-js .label_radio input { position: absolute; left: -9999px; }
	
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {
	.has-js .label_check { background: url(../img/check-off2x.png) no-repeat; background-size: 15px 15px; }
	.has-js .label_check:hover { background: url(../img/check-hover2x.png) no-repeat; background-size: 15px 15px; }
	.has-js label.c_on { background: url(../img/check-on2x.png) no-repeat; background-size: 15px 15px; }
	.has-js label.c_on:hover { background: url(../img/check-on2x.png) no-repeat; background-size: 15px 15px; }
}

/* ==========================================================================
   Tabs Styles
   ========================================================================== */
.tabs {
	list-style-type: none;
	display: table;
	padding: 0!important;
	width: 100%;
	}
.tabs li {
	display: table-cell;
	text-align: center;
	width: auto;
	float: none;
	background: none!important;
	padding: 0!important;
	line-height: 22px!important;
}
.tabs li a {
	text-decoration: none;
	font-size: 22px;
	font-weight: 300;
	color: rgba(85, 85, 85, .5);
	
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
}
	.tabs li a:hover { color: rgb(85, 85, 85); }
	.tabs li a.active { color: rgb(242, 151, 0); }
	
label > i { padding-left: 5px; color: rgb(153, 0, 0); font-size: 11px;}
#login .fifty i { text-align: center; display: block; font-size: 60px; line-height: 110px; color: rgba(85, 85, 85, .4); }
#login .fifty span { text-align: center; display: block; margin-top: -25px; color: rgba(85, 85, 85, .4); }
#login, #no-registration, #registration { padding-top: 40px; }	
#login label, #no-registration label, #registration label {
	cursor: default!important;
	display: inline-block;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 95px;
	margin: 0 10px 0 0;
	font-size: 14px;
}

#login input[type=submit], #registration input[type=submit] {
	padding: .5em .6em;
	background: rgba(85, 85, 85, .4);
	border: 1px solid rgba(85, 85, 85, .4);
	color: white;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 300;
	box-shadow: none;
	outline: 0;
	width: 280px;
	
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	
	-webkit-transition: .2s linear all;
	-moz-transition: .2s linear all;
	-ms-transition: .2s linear all;
	-o-transition: .2s linear all;
	transition: .2s linear all;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
	#login input[type=submit]:hover, #registration input[type=submit]:hover {
		background: rgb(242, 151, 0);
		border: 1px solid rgb(242, 151, 0);
		color: white;
	}

#login input[type=text],
#login input[type=password],
#login input[type=email],
#no-registration input[type=text],
#no-registration input[type=tel],
#no-registration input[type=email],
#no-registration input[type=number],
#registration input[type=text],
#registration input[type=email],
#registration input[type=number],
#registration input[type=password],
#registration input[type=tel] {
	padding: .5em .6em;
	border: 1px solid rgba(85, 85, 85, .3);
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: rgb(85, 85, 85);
	box-shadow: none;
	outline: 0;
	width: 280px;
	margin-bottom: 8px;
	
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-o-border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#login input[type=text]:focus,
#login input[type=password]:focus,
#login input[type=email]:focus,
#no-registration input[type=text]:focus,
#no-registration input[type=tel]:focus,
#no-registration input[type=email]:focus,
#no-registration input[type=number]:focus,
#registration input[type=text]:focus,
#registration input[type=email]:focus,
#registration input[type=number]:focus,
#registration input[type=password]:focus,
#registration input[type=tel]:focus { outline:0;outline:thin dotted \9;border-color:rgba(102, 168, 54, 0.7); }

span.require { text-align: center; font-size: 11px; margin-top: 15px; display: block; color: rgba(85, 85, 85, .6);}

.order { margin-left: 10px; }
.order li { background: none!important; padding-left: 0!important; }
.order li span { width: 85px; display: inline-block; font-weight: 600; }